* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #d3d0cb;
}

.alerta {
    text-align: center;
    background-color: rgba(255, 0, 0, .7);
    border-radius: .5rem;
    padding: .2rem;
    font-size: 1.5rem;
}

.success {
    text-align: center;
    background-color: #28a745;
    border-radius: .5rem;
    padding: .2rem;
    font-size: 1.5rem;
}


.container {
    overflow-x: hidden;
    min-width: 280px;
    width: 100vw;
    height: 100vh;
    font-family: 'Marvel', sans-serif;
    background: url("../img/imgFondo.jpg") no-repeat;
    background-size: cover;
    position: relative;

}

.container::before {
    content: '';
    background-color: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
    min-width: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header,
.main {
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
}


.header_h1 {
    text-align: center;
    padding-top: .5rem;
    font-size: 2.2rem;
    border-bottom: 1px solid #d3d0cb;
}

.main {
    border-radius: 10px;
    margin: auto;
}

.main_content {
    border-radius: .5rem;
    margin-bottom: 1rem;
}



.primary_content-h2,
.secundary_content-h2 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#form {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form_label {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}


.form_input {
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: .5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .7);
    color: aliceblue;
}

.form_input:focus {
    border: 1px solid rgba(255, 255, 255, .7);
    outline: none;
    background-color: rgba(0, 0, 0, .7);
}

.form_btn {
    color: #d3d0cb;
    height: 2rem;
    border-radius: 5rem;
    border: none;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #393e41;
    font-weight: 700;
}

.list-ul {
    list-style: none;

}

.list-li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem 0;
    width: 80%;
    margin: .3rem auto;
    background-color: rgb(0 0 0 / 70%);
    border-radius: 1rem;
}



.fas {
    color: #ff0026;
    font-size: 1.2rem;
}

.fas:hover {
    cursor: pointer;
}

.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.budget_alert,
.average {
    height: 4rem;
    width: 80%;
    text-align: center;
    border-radius: 1rem;
    padding-top: .5rem;
    background-color: rgba(0, 0, 0, .7);
    margin-top: 0.5rem;
}

.budget_p {
    display: grid;
    font-size: 1.2rem;
    color: #d3d0cb;
}

.alert_average {
    text-align: center;
    width: 80%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    background-color: rgb(255 0 0 / 50%);
}


.warning {
    border: 2px solid #ff0026;
}

.warning_span {
    color: #ff0026;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.alert {
    border: 2px solid #ffe500;
}

.alert_span {
    color: #ffe500;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {

    .main_content {
        display: flex;
        justify-content: space-around;
    }

    .primary_content,
    .secundary_content {
        width: 100%;
    }
}